<div class="content">
    <div class="footer-right">
        <div class="text-center">
            <li class="m-2"><a href="{{ path('we') }}">Qui sommes nous ?</a></li>
            <li class="m-2"><a href="{{ path('products') }}">Musc Tahara</a></li>
            <li class="m-2"><a href="#">Mentions légales</a></li>
        </div>
        <div class="text-center">
            <p>Inscrivez-vous dès maintenant à notre Newsletters pour ne rien rater !</p>
            <input type="email" placeholder="E-mail">
            <span class="payment">
                <li class="m-2">
                    <a href="#">
                    <img src="{{ asset('img/visa.ico') }}" alt="icone visa"></a>
                    <a href="#"><img src="{{ asset('img/paypal.ico')}}" alt="icone paypal"></a> 
                    <a href="#"><img src="{{ asset('img/mastercard.ico')}}" alt="icone mastercard"></a> 
                    
                </li>
            </span>
        </div>
        <div class="social-media">
            <span class="m-1"><a href="https://www.facebook.com/profile.php?id=100078751869564" target="_blank"><img src="{{ asset('img/facebook.ico')}}" alt="icone facebook">El Rizana</a></span>
            <span class="m-1"><a href="https://www.instagram.com/el_rizana/" target="_blank"><img src="{{ asset('img/instagram.ico')}}" alt="icone instagram">@el_rizana</a></span>
        </div>
    </div>
    
    <div class="copyright col-12">
        <p> &copy; 2022 - El Rizana, Inc. Tous droits réservés</p>
    </div>
</div>