<div class="footer">
    <div class="footer-contain">
        <div>
        <p>Qui sommes nous ?</p>
        <p>Blog</p>
        <span class="payment">
              <img src="{{ asset('img/visa.ico') }}" alt="icone visa">
              <img src="{{ asset('img/paypal.ico')}}" alt="icone paypal">
              <img src="{{ asset('img/mastercard.ico')}}" alt="icone mastercard">
        </span>
    </div>
    <div class="text-center">
        <p>elrizana.contact@gmail.com</p>
        <p>+33765596773</p>
        <p>Mentions légales</p>
    </div>
    <div class="social-media">
        <span><img src="{{ asset('img/facebook.ico')}}" alt="icone facebook">  El Rizana</span>
        <span><img src="{{ asset('img/instagram.ico')}}" alt="icone instagram"> @el_rizana</span>
        
    </div>
    </div>
    
    <div class="copyright">
        <p> &copy; 2022 - El Rizana, Inc. Tous droits réservés</p>
    </div>
</div>

    