<div class="barinfo">
  <p>Paiement 100% sécurisé</p>
  <p>Livraison gratuite dès 80€ d'achats</p>
  <p>Expédition sous 24h - 48h</p>
 </div>
 
 <div class="navbar">

     <div class="logo">
          <a href="{{ path('home') }}"><img src="{{ asset('img/ElRizanaLOGO.png') }}" alt="El Rizanalogo"></a>
     </div>

     <div class="rubriques">
        <div class="input-icon">
          <a href="{{ path('user') }}"><input type="button" value="Se connecter / créer un compte"></a>
          <i class="fa fa-user"></i>
        </div>
        
          <ul>
              <li><a href="{{ path('we') }}">Qui sommes nous ?</a></li>
              <li><a href="{{ path('products') }}">Musc Tahara</a></li>
              <li><a href="{{ path('contact') }}">Nous contacter</a></li>
              <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
              <li><a href="{{ path('cart') }}"><i class="fas fa-shopping-cart"></i></a></li>
         </ul>
    </div>
 </div>

