{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/login.css')}}">{% endblock %}

{% block body %}
<form method="post" class="login">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mt-5 text-center" style="padding: 42px 20px 60px 20px; background-color:#fcf0d753; margin: 94px;">
          <p style="color:#6F5843;">Vous êtes connecté en tant que {{ app.user.userIdentifier }}</p>
          <br>
          <a href="{{ path('logout') }}" style="padding: 10px; background-color: #6f58439f; color:#FCF0D7; border-radius: 50px; text-decoration: none;">Se déconnecter</a>
        </div>
    {% else %}

    <h1 class="text-center">Se connecter</h1>
    <div class="email">
        <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>
    <div class="password">
        <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <div class="valider">
        <button class="btn btn-secondary" type="submit">Valider</button>
    </div>

    <div class="inscription">
        <button type="submit" class="btn btn-success"><a href="{{ path('register') }}" style="text-decoration: none; color:#FCF0D7;">Créer un compte</a></button> 
    </div>
    {% endif %}
    

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}    
</form>
{% endblock %}
