{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<!-- Début de l'entête -->
<div class="col-12">
    <section class="centre">
    <h1>BIENVENUE</h1> 
    <h6 class="text-end">Sublimez votre hygiène</h6> 
    </section>
</div>

<!-- Fin de l'entête -->

<!-- Début du main -->
    <main>
        <section class="section1">
            <span><h5>DERNIERS PRODUITS — <a href="{{ path('products') }}">Voir Tout</a></h5></span>
                    <div class="col-12">
                        <div class="cards">
                            {% for product in products %}
                            <a href="{{ path('product_detail' , {'slug' : product.slug }) }}">
                                    <div class="card">
                                        <img src="{{ asset('img/product/' ~ product.image) }}" alt="Image Principale du produit {{ product.name }}">
                                        <h6>{{product.name}}</h6>
                                        <p>{{product.price}}€</p>
                                    </div>
                                </a>    
                            {% endfor %}
                        </div>
                    </div>
        </section>
        
        <section class="col-12">
            <div class="guide">
                <div class="left col-3">
                    <h2 class="text-center">Guide d'utilisation</h2>
                    <p class="text-center">
                        Imbiber la houpette en coton avec de l'eau. 
                        <br>
                         Appliquer une touche de musc sur la houpette. 
                        <br>
                          Tapoter superficiellement les parties intimes.*</p>
                        <h3 class="text-center">Contre-indications <i class="bi bi-exclamation-triangle"></i></h3>
                        <p class="text-center"> Le Musc ne doit pas toucher le vagin directement !*
                            <br>
                             Ne pas dépasser une application par jour.
                            <br>
                             Ne pas appliquer sur les jeunes enfants. 
                            <br>
                             Déconseillé chez la femme enceinte par précaution.</p>
                </div>
                <div class="right">
                    <img src="{{ asset('img/gold.jpg') }}" alt="Image/jpg">
                </div>
            </div>
            
            <div class="histoire">
                <div class="left">
                    <h2 class="text-center">Notre histoire</h2>
                    <p class="text-center">Le Musc Intime sera pour la grande majorité des femmes RÉVOLUTIONNAIRE. En effet l’enjeux premier de la commercialisation de ces muscs est bien de permettre à toutes les femmes à travers le monde d’optimiser leur hygiène intime.</p>
                    <a href="{{ path('we') }}"><input type="button" value="En savoir plus"></a>
                </div>
                <div class="right">
                    <img src="{{ asset('img/kamel.jpg') }}" alt="Image/jpg">
                </div> 
            </div>
        </section>
    </main>
<!-- Fin du main -->
{% endblock %}