{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<!-- Début de l'entête -->
<div class="col-12">
    <section class="centre">
    <h1>BIENVENUE</h1> 
    <input type="button" value="Découvrir">
</section>
</div>

<!-- Fin de l'entête -->

<!-- Début du main -->
    <main>
        <section class="section1">
            <span><h5>DERNIERS PRODUITS — <a href="{{ path('products') }}">Voir Tout</a></h5></span>
                    <div class="col-12">
                        <div class="cards">
                            {% for product in products %}
                                    <div class="card">
                                        <img src="{{ asset('img/product/Monoï.png') }}" alt="Musc Monoï png">
                                        <h6>{{product.name}}</h6>
                                        <p>{{product.price}}</p>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
        </section>
        
        <section class="col-12">
            <div class="nous">
                <div class="left">
                    <h2>À propos de nous</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis deleniti 
                    voluptates veniam modi cum ipsum ab perspiciatis exercitationem, minima 
                    molestias? Incidunt ullam dolor id ipsam alias consequuntur magnam quia culpa.</p>
                    <input type="button" value="En savoir plus">
                </div>
                <div class="right">
                    <img src="{{ asset('img/kamel.jpg') }}" alt="Image/jpg">
                </div> 
            </div>
            <div class="produits">
                <div class="left col-3">
                    <h2>Nos produits</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aspernatur 
                       repudiandae officia totam nesciunt error delectus eaque, nostrum eum, temporibus 
                       quidem fugit iure beatae ratione nobis modi assumenda quas quasi.</p>
                       <input type="button" value="En savoir plus">
                </div>
                <div class="right">
                    <img src="{{ asset('img/gold.jpg') }}" alt="Image/jpg">
                </div>
            </div>
        </section>
    </main>
<!-- Fin du main -->
{% endblock %}