<div style="color:#FCF0D7;">
{{ form_start(form) }}
{{ form_row(form.createdAt, {'label': 'Fais le'}) }}
    {{ form_row(form.paidAt, {'label': 'Payé le'}) }}
    {{ form_row(form.validated, {'label': 'Validé'}) }}
    {{ form_row(form.stripeSessionId, {'label': 'Identifiant de session'}) }}
    {{ form_row(form.fromOrder, {'label': 'Commande'}) }}
    <button class="btn text-end" style="background-color:#C19971; color: #FCF0D7;">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
</div>