{% extends 'baseAdmin.html.twig' %}

{% block title %}PaymentRequest index{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/payment.css')}}">{% endblock %}

{% block body %}
    <h1 class="text-center">Paiements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N*</th>
                <th>Créer le</th>
                <th>Payé le</th>
                <th>Validation</th>
                <th>StripeSessionId</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment_request in payment_requests|reverse %}
            <tr>
                <td>{{ payment_request.id }}</td>
                <td>{{ payment_request.createdAt ? payment_request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ payment_request.paidAt ? payment_request.paidAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ payment_request.validated ? 'Yes' : 'No' }}</td>
                <td>{{ payment_request.stripeSessionId }}</td>
                <td>
                    <a href="{{ path('app_admin_payment_request_show', {'id': payment_request.id}) }}" title="Aperçu"><i class="bi bi-eye m-1"></i></a>
                    <a href="{{ path('app_admin_payment_request_edit', {'id': payment_request.id}) }}" title="Modifier"><i class="bi bi-pencil-square m-1"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="col-12 text-end">
        <button type="button" class="btn btn-light" style="background-color: #C19971; border: none;"><a href="{{ path('app_admin_payment_request_new') }}" style="color: #FCF0D7;">Nouveau paiement</a></button>
    </div>
    
{% endblock %}
