{% extends 'baseAdmin.html.twig' %}

{% block title %}PaymentRequest index{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/payment.css')}}">{% endblock %}

{% block body %}
    <h1 id="liste">Paiements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N*</th>
                <th>Créer le</th>
                <th>Validé</th>
                <th>Identifiant de session Stripe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment_request in payment_requests|reverse %}
            <tr>
                <td>{{ payment_request.id }}</td>
                <td>{{ payment_request.createdAt ? payment_request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ payment_request.validated ? 'Oui' : 'Non' }}</td>
                <td>{{ payment_request.stripeSessionId }}</td>
                <td class="text-center">
                    <a href="{{ path('app_admin_payment_request_show', {'id': payment_request.id}) }}" title="Aperçu"><i class="bi bi-eye m-1" style="color: rgb(127, 170, 244);"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
