{% extends "base.html.twig" %}

{% block description %}{{ product.abstract }}{% endblock %}

{% block title %}{{ product.name }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/product.css')}}">
{% endblock %}

{% block h1 %}{{ product.name }}{% endblock %}

{% block body %}

<div class="container mb-5">
    <div class="row">
         <div class="col-6">
                <div class="card" id="p_pictures">
                        <div class="column">
                            <img src="{{ asset('img/product/' ~ product.image) }}" alt="Image Principale du produit {{ product.name }}">
                            <div class="mini">
                                {% if product.image1 != null %} {# Si mon champ img est null n'essaie pas d'afficher d'img, affiche que s'il est diff de null #}
                                    <img src="{{ asset('img/product/' ~ product.image1) }}" alt="Image Secondaire 1 du produit {{ product.name }}">
                                {% endif %}
                                {% if product.image1 != null %}
                                    <img src="{{ asset('img/product/' ~ product.image2) }}" alt="Image Secondaire 2 du produit {{ product.name }}">
                                {% endif %}
                                {% if product.image1 != null %}
                                    <img src="{{ asset('img/product/' ~ product.image3) }}" alt="Image Secondaire 3 du produit {{ product.name }}">
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-6">
                <div class="detail_product"> 
                    <div class="column">
                        <h2 style= "text-shadow: 1px 3px 2px rgba(255, 255, 255, 0.819);">{{ product.name }}</h2>
                        <p style="font-size: 1.5rem; color: #C19971; text-shadow: 1px 3px 2px rgba(255, 255, 255, 0.819);"><b>{{ product.price }}€</b></p>
                        <p class="card-text">{{ product.description }}
                        <br><br>
                            {% if product.quantity != 0 %}
                            <span class="fs-7 text-success">Disponible</span>
                            {% else %}
                            <span class="fs-7 text-danger">Rupture de stock</span>
                            {% endif %}
                        </p>  
                      <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-secondary-{{ product.quantity != 0 ? 'success' : 'danger disabled' }}" style=" background-color:#C19971; color:#ffff;">Ajouter au panier</a>
                      <a href="{{ path('payment') }}"><button type="button" class="btn btn-success">Acheter</button></a> 
                    </div>
                </div>
            </div>
    </div>
           
</div>
       
            

{% endblock %}