{% extends 'base.html.twig' %}

{% block title %}Musc Tahara{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center">Musc Tahara</h1>
    <div class="cards row col-12">
        {% for product in products %}
                <div class="card">
                    <img src="{{ asset('img/product/Monoï.png') }}" alt="Image Musc Classique png">
                        <div class="right text-center">
                            <h5>{{product.name|u.truncate(15, false)}}</h5>
                                <p>
                                {{product.abstract|u.truncate(40, '...', false)}}<br> 
                                <b>- {{product.price}}€ -</b> 
                                </p>
                                <div class="button">
                                    <a href="{{ path('product_detail' , {'slug' : product.slug}) }}" class="card-link btn btn-outline-primary">Détails</a>
                                    <a href="#" class="btn btn-{{ product.quantity != 0 ? 'success' : 'danger disabled' }}"><i class="bi bi-cart-plus-fill"></i></a>
                                </div>
                        </div>
                </div>
                {% endfor %}
    </div>
{% endblock %}

