<h2>Coordonnées du contact</h2>

<ul>
    <li>Nom : {{ prenom ~ ' ' ~ nom|upper }}</li>
    <li>Email : {{ emailAddress }}</li>
</ul>

<h2>Objet : {{ sujet }}</h2>

<p>{{ message|nl2br }}</p>

{# <img src="{{ email.image('@images/ElRizanaLOGO.png') }}" alt="logo El Rizana"> #}