{% extends 'baseAdmin.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
{# <h1 class="text-center">Details de la commandes {{ order.id }}</h1> #}
            <table class="table text-center align-middle">
                <thead>
                    <tr>
                        <th class="col-1">Id</th>
                        <th class="col-1">Réference</th>
                        <th class="col-1">Produit</th>
                        <th class="col-1">Quantité</th>
                        <th class="col-1">Montant</th>
                    </tr>
                </thead>
                <tbody>
                   
                {% for order_details in orders_details %}<tr>
                    <td>{{ order_details.id }}</td>
                    <td>{{ order_details.orders.reference }}</td>
                    <td>{{ order_details.product.name }}</td>
                    <td>{{ order_details.quantity }}</td>
                    <td>{{ order_details.orders.amount }}€</td>
               </tr>   {% endfor %}    
                      
                </tbody> 
            </table>
            <div class="col-12 text-end my-5">
                <a href="{{ path('admin_orders')}}" class="btn btn-secondary" style="background-color:#6F5843; border:none;">Retour</a>
            </div>
{% endblock %}