{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <h1 id="liste">Liste des commandes ✅</h1>
    <table class="table table-sm text-center align-middle">
        <thead>
            <tr>
                <th class="col-1">N°</th>
                <th class="col-1">Adresse de livraison</th>
                <th class="col-1">Adresse de paiement</th>
                <th class="col-1">Référence</th>
                <th class="col-1">Montant</th>
                <th class="col-1">Crée le</th>
                <th class="col-1">Payé</th>
            </tr>
        </thead>
        
        <tbody>
            {% for order in orders|reverse %}
            <tr>
                <td>{{ order.id }}</td>
                {# <button href="{{ path('order_details') }} "></button> #}
                <td>{{ order.delivery_address_id }}</td>
                <td>{{ order.billing_address_id }}</td>
                <td>{{ order.reference }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.paid }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}