{% extends 'baseAdmin.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user.css')}}">{% endblock %}

{% block body %}

<h1 id="liste">Créer un utilisateur</h1>

{{ form_start(userForm) }}

<div class="row" id="user">
<div class="col-4">
    {{ form_row(userForm.first_name, {'label': 'Prénom'}) }}
</div>
<div class="col-4">
    {{ form_row(userForm.last_name, {'label': 'Nom'}) }}
</div>        
</div>

<div class="row"  id="user">
    <div class="col-4">
        {{ form_row(userForm.email) }}
    </div>
    <div class="col-4">
        {{ form_row(userForm.phone, {'label': 'Numéro de téléphone'}) }}
    </div>
</div>

<div class="row"  id="user">
    <div class="col-4">
        {{ form_row(userForm.plainPassword.first, {'label': 'Mot de passe'}) }}
    </div>
    <div class="col-4">
        {{ form_row(userForm.plainPassword.second, {'label': 'Répétez votre mot de passe'}) }}
    </div>
</div>

<div class="offset-2">
    {{ form_row(userForm.agreeTerms, {'label': 'J\'accepte les Conditions Générales d\'Utilisation *'}) }}
</div>

<div class="row">
    <div class="col-12 text-end">
        <a href="{{ path('admin_users')}}" class="btn" id="btn-secondary">Annuler</a>
        <button type="submit" class="btn" id="btn-success">Créer</button>
    </div>
</div>
{{ form_end(userForm) }}

 

{% endblock %}