{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

<h1 id="liste">Liste des utilisateurs</h1>

<table class="table table-sm text-center align-middle">
    <thead>
        <tr>
            <th class="col-1">N°</th>
            <th class="col-1">Prénom</th>
            <th class="col-1">Nom</th>
            <th class="col-1">Rôle</th>
            <th class="col-1">E-mail</th>
            <th class="col-2">Numéro de téléphone</th>
            <th class="col-1">Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td></td>
            {# <td>{{ user.roles }}</td> #}
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
                <a href="{{ path('user_update', {'id': user.id}) }}"><i class="bi bi-pencil-square m-1"></i></a>
                <a onclick="return confirm('Etes vous sûr de vouloir supprimer cet utilisateur : {{ user.firstname }} ?')" href="{{ path('user_delete', {'id': user.id}) }}"><i class="bi bi-trash3 text-danger m-1"></i></a>
            </td>
        </tr>    
        {% endfor %}
    </tbody>
</table>
    <div class="text-end">
        <button type="button" class="btn btn-light" style="background-color: #C19971; border: none;"><a href="{{ path('user_create') }}" style="color: #FCF0D7;">Ajouter un utilisateur</a></button>
    </div>

{% endblock %}